<!DOCTYPE html>
<html>
  <head>
    <title>WorshipTogether</title>
    <%= csrf_meta_tags %>

<% flash.each do |type, message| %>
    <p class="ALERT-<%= type %>"><%= message %></p>
<% end %>

<%= yield %>

  <body>
  <% flash.each do |type, message| %>
      <p class="ALERT-<%= type %>"><%= message%></p>
  <% end %>
    <%= yield %>
  </body>
</html>
